.row{
    display: flex;
    flex-direction: row;
}

.formiscrizione{
    padding: 2%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em rgb(17, 50, 235);
    width: 26%;
    border: 3px solid rgb(246, 254, 255);
}