.eventi {
	  text-align: center;
	  color: #5582ff;
	  font-size: 10vh;
	  margin-top: 1cm;
	  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
	}

