.datapicker {
    margin-top:1cm;
    margin-left: auto;
    margin-right: auto;
margin-bottom: 1cm;
box-shadow: 0 0 2em rgb(98, 117, 223);
width: fit-content;

}

.testo {
    background-color: coral;
      text-align: center;
      color: #ffffff;
    }
 