.d-block-w-100 {
    height:20cm;
    width: 20cm;
    display: block;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style:groove;
    
}

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

html {
  height: 100%;
}


.hashtag {
  font-size: 9vw;
  text-align: center;
  line-height: 10vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 800;
  background: url(https://images.pexels.com/photos/159027/bokeh-blue-light-blue-neon-159027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: 50%;
  background-position: 1%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 5s ease 500ms forwards;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}

.chisiamo {
background-color: rgb(80, 127, 255);
  text-align: center;
  margin-top: 4cm;
  color: #ffffff;
  
}

h4{

    text-align: center;
    
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');





.btn {

	transform: translateY(0px);
	transition: 0.4s linear;
  
	
}

.btn:hover{transform: translateY(-6px);
	background: #020202;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.5s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
}



