.card {
    width: 350px;
    background-color: #efefef;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 0 2em rgb(98, 117, 223);
    
}




.name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8%;
}



.btn1 {
    height: 45px;
    width: 150px;
    border: none;
    font-size: 15px
}


.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}


.prenotazioni {
    padding: 1cm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2em rgb(158, 152, 143);
    border: none;
    width: max-content;
}