.form-group  {
    padding-top: 5%;
    width: 5cm;
    margin: auto;
}

.form-control {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    height: 1.5cm;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 40px;
    color: hsl(0deg 0% 30%);
    margin: auto;
    
}


.tutto {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em rgb(17, 50, 235);
    width: 26%;
    border: 3px solid rgb(246, 254, 255);
              
}

.login {
    width: 5cm;
	padding: 1em;
	background: rgb(243, 141, 7);
	color: hsl(0 0 100);
	border: none;
	border-radius: 30px;
	font-weight: 600;
    margin: auto;

}

.signup2 {
    width: 5cm;
	padding: 1em;
	background: rgb(243, 141, 7);
	color: hsl(0 0 100);
	border: none;
	border-radius: 30px;
	font-weight: 600;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}



.signup {
    
	padding: 1em;
	background: rgb(132, 181, 255);
	color: hsl(0 0 100);
	border: none;
	border-radius: 30px;
	font-weight: 400;
    margin-top: 2%;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    
}


.signup3 {
	padding: 1em;	
	color: hsl(0 0 100);
    background-color:rgb(132, 181, 255);
	border: none;
	border-radius: 30px;
	font-weight: 400;
    margin-top: 2%;
    font-size: small;
}